{% extends 'login_layout.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ logout_path() }}">Logout</a>
        </div>
    {% endif %}

<div class="form-group" style="max-width: 500px; margin: auto; margin-top: 100px; padding: 30px; justify-content: center; alig-items: center;">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
    <input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">
    <a href="{{ path('app_register') }}" style="color: #8aa899;">Don't have an account? Register here</a>

    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" name="_remember_me"> Remember me
        </label>
    </div>

    <button class="btn btn-lg" style="background-color: #5c6e58; color: white; transition: background-color 0.3s ease;" onmouseover="this.style.backgroundColor='#4a5c43';" onmouseout="this.style.backgroundColor='#5c6e58';"  type="submit">
        Sign in
    </button>
</div>
</form>
{% endblock %}
