{% extends 'login_layout.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}

	<div class="form-group" style="max-width: 500px; margin: auto; margin-top: 100px; padding: 30px; justify-content: center; alig-items: center;">
		<div class="card" style="width: 75%;">
			<h1>Registro</h1>

			{{ form_errors(registrationForm) }}
			<label for="inputEmail">Correo electrónico</label>

			{{ form_start(registrationForm) }}
			{{ form_widget(registrationForm.email, {'attr': {'class': 'form-control', 'autocomplete': 'email', 'required': 'required', 'autofocus': 'autofocus'}}) }}
			<label for="inputPassword">Contraseña</label>
			{{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control', 'autocomplete': 'new-password', 'required': 'required'}}) }}
			{{ form_row(registrationForm.agreeTerms) }}
<br>
			<button class="btn btn-md" style="background-color: #5c6e58; color: white; transition: background-color 0.3s ease;" onmouseover="this.style.backgroundColor='#4a5c43';" onmouseout="this.style.backgroundColor='#5c6e58';" type="submit">
				Registro
			</button>
			{{ form_end(registrationForm) }}
		</div>
	</div>
{% endblock %}


