{% extends 'base.html.twig' %}

{% block title %}
	{{ 'title'|trans({}, 'Agenda') }}
{% endblock %}

{% block body %}

	<div class="container" style="margin-top: 20px; align-items: center; justify-content: center; display: flex;">
		<div class="card" style="width: 75%;">
			<h2 class="card-header">
				Contactos
			</h2>
			<div class="card-body">
				<p class="card-text">App para gestionar contactos de manera eficiente.</p>
			</div>
			<div class="card">
				<div class="card-body" styles="text-align: center; justify-content: center; display: flex;">
					{% block navbar %}
						<div class="d-grid gap-6 d-md-block text-center">
							<a class="btn btn-default mb-2" href="{{path('contact_new')}}" role="button" style="border: 1px solid #f2d349;  transition: background-color 0.3s ease;" onmouseover="this.style.backgroundColor='#cec6a1'" onmouseout="this.style.borderColor='#f2d349'; this.style.backgroundColor='transparent'">{{ 'new_contact'|trans({}, 'Agenda') }}</a>
							<a class="btn btn-default mb-2" href="{{path('phone_new')}}" role="button" style="border: 1px solid #f2d349;  transition: background-color 0.3s ease;" onmouseover="this.style.backgroundColor='#cec6a1'" onmouseout="this.style.borderColor='#f2d349'; this.style.backgroundColor='transparent	'">{{ 'new_phone'|trans({}, 'Agenda') }}</a>
						</div>
						<br>
						<div class="d-grid gap-2 d-md-block text-center">
							<a class="btn btn-default mb-2" href="{{path('contact_show')}}" role="button" style="border: 1px solid #8aa899;  transition: background-color 0.3s ease;" onmouseover="this.style.backgroundColor='#8aa899'" onmouseout="this.style.borderColor='#8aa899'; this.style.backgroundColor='transparent'">{{ 'all_contacts'|trans({}, 'Agenda') }}</a>
							<a class="btn btn-default mb-2" href="{{path('phone_show')}}" role="button" style="border: 1px solid #8aa899;  transition: background-color 0.3s ease;" onmouseover="this.style.backgroundColor='#8aa899'" onmouseout="this.style.borderColor='#8aa899'; this.style.backgroundColor='transparent'">{{ 'all_phones'|trans({}, 'Agenda') }}</a>
						</div>
					{% endblock %}
				</div>
			</div>
		</div>

	{% endblock %}
