{% extends 'base.html.twig' %}

{% block title %}Edit Contact {% endblock %}

{% block body %}
	{% block navbar %}
    <div class="d-grid gap-6 d-md-block text-left" style="margin-top: 40px; margin-left: 40px;">
			<a class="btn btn-default" href="{{path('contact_show')}}" role="button">{{ 'back_to_home'|trans({}, 'Agenda') }}</a>
        </div>
	{% endblock %}
	<div class="container" style="margin-top: 20px; align-items: center; justify-content: center; display: flex;">
		<div class="card" style="width: 75%;">
			<h1 class="card-header text-center mb-4">
				{{ 'edit_contact'|trans({}, 'Agenda') }}
			</h1>
			<div class="card-body; text-align: left; mt-4;">
				{{ form_start(form) }}
					{{ form_row(form.name) }}
					{{ form_row(form.lastName) }}
					{{ form_row(form.mail) }}
					<ul class="phones"
                    data-index="{{ form.phones|length > 0 ? form.phones|last.vars.name + 2 : 1 }}"
                    data-prototype="{{ form_widget(form.phones.vars.prototype)|e('html_attr') }}"
                        >
                        {% for phone in form.phones %}
                            <li>{{ form_row(phone) }}</li>
                        {% endfor %}
                    </ul>
					<button type="button" class="btn btn-info" data-collection-holder-class="phones">
                            {{'add_phone'|trans({}, 'Agenda') }}
                        </button>

                        <script>
                            document.querySelectorAll('.btn-info').forEach(btn => {
                                btn.addEventListener("click", addFormToCollection)
                            });

							document.querySelectorAll('ul.phones li').forEach((tag) => {
								addTagFormDeleteLink(tag)
							})

                            function addFormToCollection(e) {
                                const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);

                                const item = document.createElement('li');

                                item.innerHTML = collectionHolder.
                                    dataset.
                                    prototype.
                                    replace(
                                        /__name__/g, 
                                        collectionHolder.dataset.index
                                    );

                                collectionHolder.appendChild(item);

                                collectionHolder.dataset.index ++;
                                addTagFormDeleteLink(item);
                            };

                            function addTagFormDeleteLink(item) {
                                const removeFormButton = document.createElement('button');
                                removeFormButton.innerText = "{{'delete_phone'|trans({}, 'Agenda') }}";
                                removeFormButton.classList.add('btn', 'btn-danger');
                                removeFormButton.style.marginTop = '10px';

                                item.append(removeFormButton);

                                removeFormButton.addEventListener('click', (e) => {
                                e.preventDefault();
                                // remove the li for the tag form
                                item.remove();
                                });
                            }
                        </script>
				{{ form_end(form) }}
			</div>
		</div>
	</div>
{% endblock %}
