{% extends 'base.html.twig' %}

{% block title %}Todos los contactos.
{% endblock %}

{% block body %}
{% block navbar %}
<div class="d-grid gap-6 d-md-block text-left" style="margin-top: 40px; margin-left: 40px;">
		<a class="btn btn-default" href="{{path('index')}}" role="button"><i class="fa-solid fa-angle-left"></i></a>
</div>
{% endblock %}
	<div class="container" style="margin-top: 20px; align-items: center; justify-content: center; display: flex;">
		<div class="card" style="width: 75%;">
			<h1 class="card-header text-center mb-4">
				{{ 'all_contacts'|trans({}, 'Agenda') }}
			</h1>
			<br>
			<div class="card-body; text-align: left; mt-4;">

				<table class="table table-hover" style="border-radius: 10px;">
					<thead class="text-white" style="background-color: #f2d349; border-radius: 5px;">
						<tr>
							<th scope="col">{{'name'|trans({}, 'Agenda') }}</th>
							<th scope="col">{{'last_name'|trans({}, 'Agenda') }}</th>
							<th scope="col">{{'email'|trans({}, 'Agenda') }}</th>
							<th scope="col">{{'phones'|trans({}, 'Agenda') }}</th>
							<th scope="col">{{'actions'|trans({}, 'Agenda') }}</th>
						</tr>
					</thead>
					<tbody>
						{% for contact in contacts %}
							<tr 
							style="cursor: pointer; border-radius: 7px; transition: background-color 0.3s;" 
							onmouseover="this.style.backgroundColor='#faecac';" 
							onmouseout="this.style.backgroundColor='';"
							>
								<td>{{ contact.name }}</td>
								<td>{{ contact.lastName }}</td>
								<td>{{ contact.mail }}</td>
								<td>
									{% for phone in contact.phones %}
										{{ phone.number }} <br>
									{% endfor %}
								</td>
								<td class="d-grid gap-5 d-md-block text-center">
									<a href="{{ path('contact_edit', {'id': contact.id}) }}" class="btn btn-primary"><i class="fa-solid fa-pencil"></i></a>
									<a href="{{ path('contact_delete', {'id': contact.id}) }}" class="btn btn-danger delete-contact-btn"><i class="fa-solid fa-trash-can"></i></a>
								</td>	
							</tr>

							<script>

								$('.delete-contact-btn').on('click', function(e) {
									e.preventDefault();
									const url = $(this).attr('href');

									Swal.fire({
										title: '{{ "delete_contact_confirmation" |trans({}, "Agenda") }}',
										icon: 'warning',
										showCancelButton: true,
										confirmButtonColor: '#d33',
										cancelButtonColor: '#3085d6',
										confirmButtonText: '{{ "yes_delete" |trans({}, "Agenda") }}',
										cancelButtonText: '{{ "cancel" |trans({}, "Agenda") }}'
									}).then((result) => {
										if (result.isConfirmed) {
											window.location.href = url;
										}
									});
								});
							</script>
						{% endfor %}
					</tbody>
				</table>

			</div>
		</div>
	{% endblock %}
