<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{% block stylesheets %}{% endblock %}
		<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
		<link rel="stylesheet" href="https://cdn.datatables.net/2.3.7/css/dataTables.dataTables.css" />
		<script src="https://cdn.datatables.net/2.3.7/js/dataTables.js"></script>
		<script src="https://cdn.datatables.net/2.3.7/js/jquery.dataTables.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	</head>
	<body>
		{% block header %}
			<nav class="navbar navbar-default" style="margin-bottom: 0; background-color: #5c6e58; border: none; padding: 15px; color: #f5f7f8;">
				<div
					class="container-fluid">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<a class="navbar-brand" href="{{ path('index') }}" style="color: #f5f7f8; font-weight: bold; font-size: 23px;">{{ 'title'|trans({}, 'Agenda') }}</a>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav navbar-right">
							<li class="dropdown">
								<a id="languageDropdown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="background-color: #5c6e58; border: none; color: #f5f7f8; font-weight: bold; font-size: 18px; border-radius: 10px; transition: background-color 0.3s ease;" onmouseover="this.style.backgroundColor='#4a5c43';" onmouseout="this.style.backgroundColor='transparent';">
									{{ 'language'|trans({}, 'Agenda') }}
									<span class="caret"></span>
								</a>
								<ul class="dropdown-menu" aria-labelledby="languageDropdown" style="background-color: #b4bdb2; color: #f5f7f8; border: none; border-radius: 5px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);">
									<li><a href="{{ path('change_language', {'locale': 'en'}) }}">{{ 'english'|trans({}, 'Agenda') }}</a></li>
									<li><a href="{{ path('change_language', {'locale': 'es'}) }}">{{ 'spanish'|trans({}, 'Agenda') }}</a></li>
								</ul>
							</li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="color: #f5f7f8;  font-weight: bold; font-size: 18px; border-radius: 10px; transition: background-color 0.3s ease;" onmouseover="this.style.backgroundColor='#4a5c43';" onmouseout="this.style.backgroundColor='transparent';">
									{{ app.user ? app.user.userIdentifier : 'Account' }}
									<span class="caret"></span>
								</a>
								<ul class="dropdown-menu" style="background-color: #b4bdb2; color: #f5f7f8; border: none; border-radius: 5px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);">
									<li>
										<a href="{{ path('index') }}">{{ 'home'|trans({}, 'Agenda') }}</a>
									</li>
									<li>
										<a href="{{ path('contact_new') }}">{{ 'new_contact'|trans({}, 'Agenda') }}</a>
									</li>
									<li>
										<a href="{{ path('phone_new') }}">{{ 'new_phone'|trans({}, 'Agenda') }}</a>
									</li>
									<li>
										<a href="{{ path('contact_show') }}">{{ 'all_contacts'|trans({}, 'Agenda') }}</a>
									</li>
									<li role="separator" class="divider"></li>
									<li>
										<a href="{{ path('app_logout') }}">{{ 'logout'|trans({}, 'Agenda') }}</a>
									</li>
								</ul>
							</li>
						</ul>
					</div>
					<!-- /.navbar-collapse -->
				</div>
				<!-- /.container-fluid -->
			</nav>
		{% endblock %}
		{% block body %}
			{% for label, messages in app.flashes %}
				{% for message in messages %}
					<div class="alert alert-{{ label }}">{{ message }}</div>
				{% endfor %}
			{% endfor %}

			{% if app.session is defined and app.session.has('last_visited_section') %}
				<p class="text-muted">Last section: {{ app.session.get('last_visited_section') }}</p>
			{% endif %}

			{% if app.user %}
				<li>
					<a href="{{ path('app_logout') }}">Logout</a>
				</li>
			{% else %}
				<li>
					<a href="{{ path('app_login') }}">Login</a>
				</li>
				<li>
					<a href="{{ path('app_register') }}">Register</a>
				</li>
			{% endif %}
		{% endblock %}

		{% block javascripts %}{% endblock %}
	</body>
</html>